* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  scroll-behavior: smooth;
}

ul li {
  font-family: 'raleway-reg';
}

@font-face {
  font-family: 'raleway-reg';
  src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'sans';
  src: url('fonts/NunitoSans_7pt-Regular.ttf');
}

body {
  font-size: 0.99rem;
  background: hsl(218, 28%, 13%);
}

.hamburg {
  height: 16px;
  width: 40px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.hamburg span {
  display: block;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;


}

h1,
h2,
h3 {
  color: hsl(0, 0%, 100%);
  font-family: 'raleway-reg';
  letter-spacing: 1.3px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  color: #d7d7d7;
  line-height: 1.4;
  padding-bottom: 12px;
  font-family: 'sans';
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 600px;
}

.primary-btn {
  background: linear-gradient(to bottom right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 0.5em 3em;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}

.illustration {
  width: 80%;
}

[alt='logo'] {
  width: 90px;
}

.main-nav {
  display: flex;
  min-height: 68px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
  padding: 0 5px;
}

.main-nav-list {
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: -180%;
  background: hsl(217, 28%, 15%);
  list-style: none;
  right: 0;
  min-width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 30px rgba(0,0,0, 0.1)
}

.main-nav-list a {
  display: block;
  padding: 0.7em 1.5em;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.1rem;
}

.main-nav-list a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

main {
  text-align: center;
}

.hero {
  background-color: hsl(217, 28%, 15%);
  background-image: url('images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding-top: 80px;
  background-size: 100vw 50%;
}

.hero .container {
  padding: 52px 0;
}

.hero .container h1 {
  padding-bottom: 16px;
  line-height: 1.5;
}

.hero .primary-btn {
  margin: 24px 0;
}

.features {
  padding: 40px 0;
}

.features .features-card {
  padding: 24px 0;
}

.features .features-card img {
  width: 20%;
  max-width: 75px;
  margin: 16px 0;
}

.features .features-card h2 {
  padding: 12px 0;
}

.productive {
  padding: 40px 0;
}

.productive p,
.productive h2 {
  text-align: left;
}

.productive h2 {
  padding: 12px 0;
}

.productive .text {
  margin: 16px 0;
}

.productive button {
  min-height: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(176, 68%, 64%);
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid;
  padding: 0.2em 0;
}

.productive button img {
  display: block;
}

.testimonials {
  padding: 40px 0;
}

.testimonials-card {
  background: hsl(219, 30%, 18%);
  padding: 1em;
  margin: 24px 0;
  text-align: left;
  border-radius: 5px;
}

.testimonials-card h3 {
  font-size: 1rem;
}

.testimonials-card p {
  font-size: 0.9rem;
}

.testimonials-card span {
  display: block;
  color: #c3c3c3;
}

.testimonials-card img {
  width: 50px;
  border-radius: 100%;
  display: block;
}

.testimonials-card-foot {
  display: flex;
  align-items: center;
  min-height: 50px;
  gap: 12px;
  padding: 16px;
}

.testimonials-card-foot p {
  padding: 0;
}

.cta {
  background: hsl(219, 30%, 18%);
  width: 85%;
  max-width: 500px;
  padding: 24px;
  margin: 0 auto;
  border-radius: 5px;
  transform: translateY(100px);
}

.cta h2 {
  padding: 12px;
}

.cta button {
  background: linear-gradient(to bottom right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 0.5em 3em;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  width: 100%;
}

.cta input {
  background: linear-gradient(to bottom right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 0.5em 3em;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background: #fff;
  width: 100%;
  margin: 12px 0;
  color: hsl(219, 30%, 18%);
  font-weight: 400;
}

.cta input:focus {
  outline: none;
}

footer {
  background: hsl(216, 53%, 9%);
  padding-top: 150px;
  padding-bottom: 24px;
}

footer .footer-content .content-li {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 16px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 700px) {
  .container {
    max-width: 1300px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    padding: 24px 0;
  }

  .cta {
    max-width: 700px;
  }

  .cta form {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 50px;
    margin-top: 16px;
  }

  .cta button,
  .cta input {
    width: 40%;
    padding: 0.2em 1em;
    height: 100%;
  }

  .cta input {
    height: 100%;
    width: 60%;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }

  .productive .container {
    display: flex;
    gap: 32px;
    align-items: center;
    min-height: 50px;
  }

  .productive .illustration {
    width: 50%;
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 70px;
  }

  .hero {
    background-image: url('images/bg-curvy-desktop.svg');
  }

  .hero .illustration {
    width: 90%;
  }

  .hero .container {
    max-width: 600px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .main-nav-list {
    height: auto;
    position: initial;
    min-width: 200px;
    display: flex;
  }

  .hamburg {
    display: none;
  }
}
